*.bbl
*~
*.synctex.gz
*.aux
*.log
*.blg
*.lof
*.lot
*.rds
.Rhistory
*.so
*.o
best-subsets.pdf
best-subsets.out
best-subsets.toc	
nohup.out	
suppl-mat.out
suppl-mat.pdf
suppl-mat.toc
OncoSimulR/vignettes/OncoSimulR_files/
OncoSimulR.Rcheck/
/OncoSimulR/vignettes/auto/
/OncoSimulR/vignettes/figure/
/OncoSimulR/vignettes/gitHeadInfo.gin
/Subversion-in-BioC/
/miscell-files/useR2010hpcTutorial.pdf
/OncoSimulR/GPATH
/OncoSimulR/GRTAGS
/OncoSimulR/GTAGS
miscell-files/test-continuously*.Rout*
miscell-files/test-until*.Rout
miscell-files/tc*.Rout
/OncoSimulR/src/#BNB_nr.cpp#
OncoSimulR/src/#bnb_common.cpp#
OncoSimulR/src/#new_restrict.cpp#
OncoSimulR/src/GPATH
OncoSimulR/src/GRTAGS
OncoSimulR/src/GTAGS
OncoSimulR_1.99.0.tar.gz
miscell-files/nohup.out
miscell-files/nohup.out.00
OncoSimulR_1.99.8.tar.gz
Subversion-in-BioC-0/
/vm2-0.Rout
/vm2-3.Rout
/vmr-vw-0.Rout
/vmr-vw-3.Rout
/vmr.Rout
/vmrB-0.Rout
/miscell-files/coverage-results.RData
/OncoSimulR/tests/testthat/Rplots.pdf
/OncoSimulR/vignettes/Rplots.pdf
/OncoSimulR/coverage-results.RData
/OncoSimulR/coverage_report.html
/OncoSimulR/Rplots.pdf
/OncoSimulR/Rplots.pdf
/OncoSimulR/Rplots1.pdf
/OncoSimulR/Rplots2.pdf
OncoSimulR/inst/doc/
OncoSimulR/tests/testthat/Rplots.pdf
OncoSimulR/vignettes/Rplots.pdf
OncoSimulR_1.99.1.tar.gz
OncoSimulR_1.99.3.tar.gz
OncoSimulR_1.99.4.tar.gz
OncoSimulR_1.99.4.tar.gz.clang
OncoSimulR_2.1.0.tar.gz
OncoSimulR_2.1.2.tar.gz
OncoSimulR_2.1.991.tar.gz
/OncoSimulR/tests/manual/Rplots.pdf
/OncoSimulR_2.1.1.tar.gz
/OncoSimulR_2.1.998.tar.gz
/OncoSimulR_2.1.9992.tar.gz
/miscell-files/coverage.Rout
/miscell-files/test-MANUAL-continuously-1.Rout
/miscell-files/test-MANUAL-continuously-2.Rout
/miscell-files/test-MANUAL-continuously-3.Rout
/miscell-files/test-MANUAL-continuously-4.Rout
/miscell-files/test-MANUAL-continuously-5.Rout
/miscell-files/test-MANUAL-continuously-6.Rout
/miscell-files/test-MANUAL-continuously-7.Rout
/OncoSimulR/tests/manual/Rplots.pdf
/OncoSimulR_2.1.5.9000.tar.gz
/OncoSimulR_2.1.996.tar.gz
/OncoSimulR_2.1.997.tar.gz
/OncoSimulR_2.1.998.tar.gz
/miscell-files/OncoSimulR-concordance.tex
/miscell-files/OncoSimulR.tex
/miscell-files/coverage-results.RData
/f1.cpp

/OncoSimulR_2.1.5.9001.tar.gz
/OncoSimulR/vignettes/OncoSimulR.pdf
/OncoSimulR_2.3.10.tar.gz
/OncoSimulR_2.3.13.tar.gz
/OncoSimulR/vignettes/OncoSimulR.html
/OncoSimulR/vignettes/OncoSimulR.tex
/OncoSimulR/vignettes/OncoSimulR_files/figure-latex/b3b4x1ch1-1.pdf

