*.bbl
*~
*.synctex.gz
*.aux
*.log
*.blg
*.lof
*.lot
*.rds
.Rhistory
*.so
*.o
best-subsets.pdf
best-subsets.out
best-subsets.toc	
nohup.out	
suppl-mat.out
suppl-mat.pdf
suppl-mat.toc
OncoSimulR.Rcheck/
/OncoSimulR/vignettes/auto/
/OncoSimulR/vignettes/figure/
/OncoSimulR/vignettes/gitHeadInfo.gin
/Subversion-in-BioC/
/miscell-files/useR2010hpcTutorial.pdf
/OncoSimulR/GPATH
/OncoSimulR/GRTAGS
/OncoSimulR/GTAGS
miscell-files/test-continuously*.Rout*
miscell-files/test-until*.Rout
miscell-files/tc*.Rout
/OncoSimulR/src/#BNB_nr.cpp#
OncoSimulR/src/#bnb_common.cpp#
OncoSimulR/src/#new_restrict.cpp#
OncoSimulR/src/GPATH
OncoSimulR/src/GRTAGS
OncoSimulR/src/GTAGS
OncoSimulR_1.99.0.tar.gz
miscell-files/nohup.out
miscell-files/nohup.out.00
OncoSimulR_1.99.8.tar.gz
Subversion-in-BioC-0/
/vm2-0.Rout
/vm2-3.Rout
/vmr-vw-0.Rout
/vmr-vw-3.Rout
/vmr.Rout
/vmrB-0.Rout
/miscell-files/coverage-results.RData
/OncoSimulR/tests/testthat/Rplots.pdf
/OncoSimulR/vignettes/Rplots.pdf
/OncoSimulR/coverage-results.RData
/OncoSimulR/coverage_report.html
/OncoSimulR/Rplots.pdf
/OncoSimulR/Rplots.pdf
/OncoSimulR/Rplots1.pdf
/OncoSimulR/Rplots2.pdf
OncoSimulR/inst/doc/
OncoSimulR/tests/manual/test.mutator-long.R
OncoSimulR/tests/testthat/Rplots.pdf
OncoSimulR/vignettes/Rplots.pdf
OncoSimulR_1.99.1.tar.gz
OncoSimulR_1.99.3.tar.gz
OncoSimulR_1.99.4.tar.gz
OncoSimulR_1.99.4.tar.gz.clang
OncoSimulR_2.1.0.tar.gz
OncoSimulR_2.1.2.tar.gz
OncoSimulR_2.1.991.tar.gz

