*.bbl
*~
*.synctex.gz
*.aux
*.log
*.blg
*.lof
*.lot
*.rds
.Rhistory
*.so
*.o
best-subsets.pdf
best-subsets.out
best-subsets.toc	
nohup.out	
suppl-mat.out
suppl-mat.pdf
suppl-mat.toc
Farahani/farahani-diprog-f005f3014ecd.zip
Farahani/farahani-diprog-f005f3014ecd/
OncoSimulT/src/OncoSimulT.so
OncoSimulT/src/matherR.o
Paper-v1/#ms-ot-v1.tex#
Paper-v1/.#ms-ot-v1.tex
Paper-v1/Suppl-mat/auto/
Paper-v1/Suppl-mat/best-subsets.toc
Paper-v1/Suppl-mat/nohup.out
Paper-v1/auto/
Paper-v1/ms-ot-v1.out
Paper-v1/ms-ot-v1.pdf
Paper-v1/ms-ot-v1.toc
Paper-v1/myags2.bst
OncoSimulR.Rcheck/
/NewPackage/i1.R
/NewPackage/Reduced/OncoSimulR/vignettes/auto/OncoSimulR.el
/NewPackage/Reduced/OncoSimulR/vignettes/gitHeadInfo.gin
/NewPackage/OncoSimulR_0.99.0.tar.gz
