useDynLib(OncoSimulR, .registration=TRUE)
## Most examples of C++ code in Bioconductor do not register. And see
## https://stat.ethz.ch/pipermail/r-devel/2012-April/063928.html
## But I use Kmisc::registerFunctions(), as MIMOSA and COMPASS
## and it does work. I am not sure it is the best idea, though.
## useDynLib(OncoSimulR)
## exportPattern("^[^\\.]") ## anything that does not start with a period
export("oncoSimulPop", "oncoSimulIndiv", "samplePop", "plotPoset")

importFrom("data.table", rbindlist, .rbind.data.table) 
## import(data.table)
## import(Rcpp)
importFrom(Rcpp, evalCpp)
import(graph)
## import(methods)
## importFrom("parallel", clusterApplyLB, mclapply, stopCluster)
importFrom("parallel", mclapply, detectCores)

S3method(plot, oncosimul)
S3method(print, oncosimul)
S3method(summary, oncosimul)
S3method(plot, oncosimulpop)
S3method(summary, oncosimulpop)
S3method(print, oncosimulpop)


