useDynLib(OncoSimulR, .registration=TRUE)
## useDynLib(OncoSimulR)

export("oncoSimulPop", "oncoSimulIndiv", "samplePop", "plotPoset")

S3method(plot, oncosimul)
S3method(print, oncosimul)
S3method(summary, oncosimul)
S3method(plot, oncosimulpop)
S3method(summary, oncosimulpop)
S3method(print, oncosimulpop)


importFrom("data.table", rbindlist, .rbind.data.table) 
importFrom(Rcpp, evalCpp)
import(graph)
import(Rgraphviz)
importFrom("parallel", mclapply, detectCores)



