useDynLib(OncoSimulR)
exportPattern("^[^\\.]") ## anything that does not start with a period
## export("oncoSimulPop", "oncoSimulIndiv", "samplePop", "posetToAdj")

importFrom("data.table", rbindlist, .rbind.data.table) 
## import(data.table)
## import(Rcpp)
importFrom(Rcpp, evalCpp)
import(graph)
## importFrom("parallel", clusterApplyLB, mclapply, stopCluster)
importFrom("parallel", mclapply)

S3method(plot, oncosimul)
S3method(print, oncosimul)
S3method(summary, oncosimul)
S3method(plot, oncosimulpop)
S3method(summary, oncosimulpop)
S3method(print, oncosimulpop)


