/* From bioconductor.css */

/* formatting of tables */

table, td, th {
  border: none;
  padding: 0 0.5em;
}

/* alternating row colors */
tbody tr:nth-child(odd) td {
  background-color: #F8F8F8;
}

@page :left {
    margin: 2mm 2mm 2mm 2mm;
}

@page :right {
    margin: 2mm 2mm 2mm 2mm;
}
